
  <div class="btn-group" role="group" aria-label="Basic example">
    
      <button  class="btn btn-secondary" type="button" routerLink="/">Home</button>
      <button  class="btn btn-secondary" type="button" routerLink="/about">About</button>
    
  </div>
  <div id="imgdiv">
    <img src="https://www.wallpaperup.com/uploads/wallpapers/2015/02/05/611536/368571237f92c3087ee6247fe1dde1bc-700.jpg">
</div>
  <router-outlet></router-outlet>
  <div style="margin-left: 750px;"><button routerLink="back">Go Back</button></div>